@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('@/assets/fonts/Pretendard-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('@/assets/fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('@/assets/fonts/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('@/assets/fonts/Pretendard-Light.woff2') format('woff2');
}
* {
  font-family: 'Pretendard', 'Apple SD Gothic Neo';
}
